body {
    background: rgb(0, 225, 255);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

#link {
    align-items: center;
    text-align: center;
    color: white;
    font-size: 20pt;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.377);
}

footer {
   color: white;
   text-align: center;
   align-items: center;
   font-style: italic;
}

#principal {
    background: white;
    border-radius: 10px;
    width: 350px;
    padding: 15px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.377);
}

div#divnums{
    text-align: center;
}

div#btn{
    text-align: center;
}

div#btnres{
    text-align: center;
}

div#res{
    text-align: center;
}

div#res2{
    text-align: center;
}

input#xi{
    width: 100px;
}

input#yi{
    width: 100px;
}

input#x{
    width: 100px;
}

input#y{
    width: 100px;
}

input#reset{
    text-align: center;
    background-color: white;
    font: normal 18pt Arial;
    width: 120px;
    margin: 0px 5px 0px 0px;
}

input#adic{
    text-align: center;
    background-color: white;
    font: normal 18pt Arial;
    width: 120px;
    margin: 0px 0px 0px 5px;
}

input#check{
    text-align: center;
    background-color: white;
    font: normal 18pt Arial;
    width: 150px;
    margin: 10px 0px 0px 0px;
}

input#result{
    text-align: center;
    background-color: white;
    font: normal 18pt Arial;
    width: 120px;
    margin: 10px 0px 0px 0px;
}

#chart{
    width: 400px;
    height: 400px;
    margin: 0 auto;
    text-align: center;
}